

@use './authPage.scss';
@use './loginPage.scss';
@use './signupPage.scss';
@use './plateCard.scss';

:root {
    --white-color: #ffffff;
    --white-ice: #f5f5f5;
    --orange-color: #F67F20;
    --silver-color: #999999;
    --back-color: #0000;
    --color-blue: #263238;
    --black-white: #dddddd;
	--black-silver: #BBBBBB;
	--orange-hover: #f64d239c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 1440px;
	margin: 0 auto;
	font-family: "Montserrat", sans-serif;
	background-color: var(--color-white);
}

li {
	list-style-type: none;
}

.app-container {
	display: flex;
}

//error message
.error-message {
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-size: 12px;
	color: red;
}

.notification-component {
	background-color: #049c04;
	padding: 0.5rem;
	color: white;
	display: flex;
	align-items: center;
	font-size: 12px;
}