:root {
    --white-color: #ffffff;
    --white-ice: #f5f5f5;
    --orange-color: #F67F20;
    --silver-color: #999999;
    --back-color: #0000;
    --color-blue: #263238;
    --black-white: #dddddd;
	--black-silver: #BBBBBB;
	--orange-hover: #f64d239c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 1440px;
	margin: 0 auto;
	font-family: "Montserrat", sans-serif;
	background-color: var(--color-white);
}

.app-container {
	display: flex;
}


.page-not-found {
	margin: 2rem auto;
	text-align: center;
}

.error-message,
.sucess-message {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
	padding: 0.5rem 1rem;
	border-radius: 0.2rem;
	display: flex;
	color: white;
	align-items: center;

	button {
		margin-left: 0.5rem;
		background-color: transparent;
		color: white;
		border: transparent;
		font-size: 20px;
		cursor: pointer;
	}
}

.error-message {
	background-color: #ff0000c9;
}

.sucess-message {
	background-color: #008000b2;
}