.item-plate-popup {
    overflow-x: hidden;

    img {
        width: 100%;
    }

    div {
        padding: 1rem;

        h2 {
            margin-bottom: 0.2rem;
        }

        p:nth-child(2) {
            margin-bottom: 1rem;
        }

        h3 {
            margin: 1rem 0;
        }

        .layout-popup {
            width: 100%;
            display: flex;
            justify-content: end;

            button {
                padding: 0.8rem 1.2rem;
                border: transparent;
                background-color: red;
                color: white;
                cursor: pointer;
                border-radius: 0.5rem;

                &:active {
                    transform: scale(0.98);
                }
            }
        }
    }
}