.login-page {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    align-items: center;
    height: 1024px;
    max-height: 100vh;

    li {
        list-style-type: none;
    }

    .login-image {
        img {
            width: 100%;
            max-width: 642px;
        }
    }

    .layout-login {
        width: 1px;
        height: 740px;
        background-color: #c0c0c098;
    }

    .login-welcome {
        max-width: 428px;

        h2 {
            font-size: 40px;
            color: var(--color-black);
            margin-bottom: 1.5rem;
        }
        
        .welcome-forms {
            form {
                display: flex;
                flex-direction: column;
                text-align: end;


                label {
                    display: flex;
                    position: relative;
                    align-items: center;

                    &:first-child {
                        margin-bottom: 2rem;
                    }

                    .icon-at,
                    .icon-lock {
                        position: absolute;
                        left: 1rem;
                        font-size: 25px;
                        color: var(--orange-color);
                        
                    }

                    input {
                        width: 100%;
                        max-width: 428px;
                        height: 60px;
                        font-size: 18px;
                        color: var(--silver-color);
                        border-radius: 0.5rem;
                        outline: 0;
                        border: 1px solid var(--silver-color);
                        padding: 0 0 0 3.5rem;
                    }
                }

                a {
                    color: var(--orange-color);
                    font-weight: 800;
                    margin: 1rem 0 3rem;
                    font-size: 16px;
                }

                button {
                    width: 100%;
                    max-width: 428px;
                    height: 60px;
                    font-size: 18px;
                    background-color: var(--orange-color);
                    color: var(--white-color);
                }
            }

            .layout-forms {
                margin: 3rem 0;

                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    li {
                        &.item {
                            width: 183px;
                            height: 1px;
                            background-color: var(--black-white);
                        }
                    }
                }
            }

            .social-media {
                ul {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 2rem;

                    li {
                        width: 199px;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid var(--black-white);
                        border-radius: 0.5rem;

                        img {
                            width: 100%;
                            max-width: 30px;
                            margin-right: 0.5rem;
                        }
                    }
                }

                .dont-account {
                    width: 100%;
                    text-align: center;

                    p {
                        font-size: 16px;

                        a {
                            color: var(--orange-color);
                            font-weight: 800;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1366px) {
    .login-page {
        .login-welcome {
            max-width: 328px;

            .welcome-forms {
                .social-media {
                    ul {
                        li {
                            width: 150px;
                        }
                    }
                }
            }
        }
    }
}