.container-home {
    display: flex;
    padding: 1.5rem;
    width: 100%;
    height: 1024px;
    max-height: 100vh;
    overflow: hidden;

    li {
        list-style-type: none;
    }

    .home-plates {
        width: 100%;
        max-width: 950px;
        overflow-y: auto;
        scrollbar-width: none;

        .plates-head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3.5rem;
            align-items: center;

            .logo-home {
                width: 100%;
                max-width: 145px;
            }

            input {
                width: calc(100% - 190px - 2rem);
                max-width: 590px;
                height: 55px;
                padding: 0 0 0 1.5rem;
                border-radius: 2.5rem;
                outline: 0;
                border: 1px solid var(--black-white);
            }


            .icon {
                img {
                    width: 100%;
                    max-width: 45px;
                }
            }
        }

        .menu {
            h2 {
                margin-bottom: 1.5rem;
            }

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 100%;
                    max-width: 277px;
                    height: 367px;
                }
            }

            .plates-list {
                 display: flex;
                 flex-wrap: wrap;
                 margin: 0 auto;
                 width: 100%;
                 justify-content: center;
            }
        }
    }

    //home cart
    .home-cart {
        width: 100%;
        max-width: 300px;
        padding: 1rem;
        background-color: whitesmoke;
        margin: 0 0 0 1.5rem;

        .cart-header {
            display: flex;
            align-items: center;
            justify-content: center;
            
            .cart-empty {
                text-align: center;
            }

        }

        .cart-list {
            .cart-item {
                display: flex;
                justify-content: space-between;
                margin: 0 0 1rem 0;

               .cart-details {
                    display: flex;

                    img {
                        width: 100%;
                        max-width: 55px;
                        height: 40px;
                        margin-right: 1rem;
                    }

                    .cart-item-details {
                        width: 100%;

                        h4 {
                            min-width: max-content;
                        }

                        h5 {
                            color: var(--orange-color);
                            font-size: 16px;
                            font-weight: 800;
                            min-width: max-content;
                        }
                    }
               }
                .item-quantity {
                    display: flex;
                    align-items: center;

                    button {
                        height: 20px;
                        width: 20px;
                        border-radius: 1rem;
                        border: transparent;
                        cursor: pointer;

                        &:last-child {
                            background-color: var(--orange-color);
                            color: white;
                        }
                    }

                    p {
                        margin: 0 0.5rem;
                    }
                }
            }
        }

        .cart-total {
            bottom: 1.5rem;
            width: 100%;

            button {
                width: 100%;
                height: 60px;
                max-width: 250px;
                margin: 1rem auto 0;
                background-color: var(--orange-color);
                color: white;
                font-size: 18px;
                font-weight: 800;
                border-radius: 0.5rem;
                border: transparent;
            }
        }
    }
}

@media(max-width:1399px) {
    .container-home {
        .home-plates {
            max-width: 850px;
        }
    }
}


@media (max-width:799px) {
    .container-home {
        flex-direction: column;
        max-height: none;
        height: 100%;

        .home-plates {
            width: 100%;
            max-width: none;

            .plates-head {
                justify-content: start;

                input {
                    margin: 0 0 0 1rem;
                    width: calc(100% - 190px - 4rem);
                }

                .icon {
                    .icon-notification {
                        display: none;
                    }
                }
            }

            .menu {
                .plates-list {
                    justify-content: center;
                }
            }
        }

        .home-cart {
            width: 100%;
            max-width: none;
            margin: 1rem auto 0;
        }
    }
}


@media (max-width:499px) {
    .container-home {
        .home-plates {

            .plates-head {
                input {
                    display: none;
                }
            }
            .menu {
                .plates-list {
                    justify-content: space-between;
                }
            }
        }
    }
}